/* Jumbotron */
.jumbotron {
    /* Background */
    background-image: url("../img/jumbotron_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /*filter: blur(0px);*/
    background-position: center;
    
    /* Position */
    position: fixed;
    left: -0px;
    right: -0px;
    top: -0px;
    z-index: 1;
    height: 35%;
    width: 100%;
}
/* Jumbotron MainHeading */
.mainHeading {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 11%;
    z-index: 9999;
    text-align: center;
}