body {
    margin: 0px;
}
.header {
    background-image: url("../img/jumbotron_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: blur(0px); */
    background-position: center;
    height: 400px;
    min-height: 250px;
    text-align: center;
}
.mainHeading {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 12%;
    z-index: 9999;
    text-align: center;
    font-family: "Helvetica", sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: white;
}
.navbar {
    padding-top: 5px;
    margin: auto;
    max-width: 1280px;
    width: 100%;
    z-index: 9999;
}
.navbarTitle {
    float: left;
    display: block;
    margin-left: 10%;
    font-size: 20px;
    font-family: "Helvetica", sans-serif;
    font-weight: 900;
    color: white;
    text-decoration: none;
}
.navbarItem {
    float: right;
    display: block;
    margin-right: 5%;
    margin-top: 3px;
    margin-bottom: 0px;
    font-family: "Helvetica", sans-serif;
    font-size: 15px;
    font-weight: 900;
    color: white;
    text-decoration: none;
}
.navbarItem:hover {
    font-size: 16px;
}
/* Make Navbar Responsive (under 500px) */
@media screen and (max-width: 500px) {
    .navbarTitle {
        float: none;
        width: 100%;
        margin-left: 0;
    }
    .navbarItem {
        float: none;
        width: 100%;
    }
}
.section {
    background-color: darkorange;
    width: 100%;
    height: 200px;
}
#section2 {
    background-color: aqua;
}
.footer {
    background-color: aquamarine;
    text-align: center;
    height: 50px;
    padding-top: 5px;
}